.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    height: auto;
  }
}
.freeBox___9HAj {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  background: #11111f;
  min-width: 0;
  padding: 16px;
}
.freeBox___9HAj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___9HAj > :global(.__wab_flex-container) > *,
.freeBox___9HAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9HAj > :global(.__wab_flex-container) > picture > img,
.freeBox___9HAj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .freeBox___9HAj {
    padding: 8px;
  }
}
@media (max-width: 768px) {
  .freeBox___9HAj > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox___9HAj {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox___9HAj > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 50px);
    width: calc(100% + 50px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox___9HAj > :global(.__wab_flex-container) > *,
  .freeBox___9HAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9HAj > :global(.__wab_flex-container) > picture > img,
  .freeBox___9HAj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 50px;
    margin-top: 0px;
  }
}
.freeBox__k27Ir {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1500px;
  max-width: 1600px;
  padding-left: 0px;
  flex-shrink: 0;
}
.freeBox__k27Ir > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__k27Ir > :global(.__wab_flex-container) > *,
.freeBox__k27Ir > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k27Ir > :global(.__wab_flex-container) > picture > img,
.freeBox__k27Ir
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1800px) {
  .freeBox__k27Ir {
    width: 1100px;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__k27Ir {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__k27Ir > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 768px) {
  .freeBox__k27Ir > :global(.__wab_flex-container) > *,
  .freeBox__k27Ir > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__k27Ir > :global(.__wab_flex-container) > picture > img,
  .freeBox__k27Ir
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__k27Ir {
    display: flex;
    flex-direction: row;
    width: 100px;
    max-width: 200px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__k27Ir > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__k27Ir > :global(.__wab_flex-container) > *,
  .freeBox__k27Ir > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__k27Ir > :global(.__wab_flex-container) > picture > img,
  .freeBox__k27Ir
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.link__lBopK {
  position: relative;
  display: flex;
}
.text__nqpLo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #d5f949;
  text-align: left;
  min-width: 0;
}
.freeBox__js8Ey {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1200px;
  padding-right: 0px;
  margin-right: 0px;
  flex-shrink: 0;
}
.freeBox__js8Ey > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__js8Ey > :global(.__wab_flex-container) > *,
.freeBox__js8Ey > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__js8Ey > :global(.__wab_flex-container) > picture > img,
.freeBox__js8Ey
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (max-width: 768px) {
  .freeBox__js8Ey {
    width: 200px;
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__js8Ey {
    width: 200px;
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__js8Ey > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__js8Ey > :global(.__wab_flex-container) > *,
  .freeBox__js8Ey > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__js8Ey > :global(.__wab_flex-container) > picture > img,
  .freeBox__js8Ey
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__s4Rs {
  position: relative;
  align-self: flex-start;
  display: flex;
  padding-right: 0px;
}
.button__oWrJi:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__oWrJi:global(.__wab_instance) {
    display: none;
  }
}
.svg___4AFi8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__heUm5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yGz5S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link___1LjDr {
  position: relative;
  align-self: flex-start;
  display: flex;
  padding-right: 0px;
}
.button__mAIsq:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ypN12 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oZm4I {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__axj0M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__kjEp8 {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.button__j65Sm:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__j65Sm:global(.__wab_instance) {
    display: none;
  }
}
.svg__uHjO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yeuoC {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0YeHq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__vGl2M {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.button__aeyg1:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__aeyg1:global(.__wab_instance) {
    display: none;
  }
}
.svg__g73CV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__alvaL {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__z1Gm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__iPsEb {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.button___7KVW:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button___7KVW:global(.__wab_instance) {
    display: none;
  }
}
.svg__f2L5G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cjiSe {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jp21T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__wEbmD {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.button__tnLFg:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__tnLFg:global(.__wab_instance) {
    display: none;
  }
}
.svg__ek7LQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wLM {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-right: 0px;
}
.svg__ifSr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__k04Vr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__jQvIj {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__vtget:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___6CZgq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lk2Me {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zJbK9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__vxTjO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 500px;
  width: 300px;
  margin-right: 0px;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 1800px) {
  .freeBox__vxTjO {
    width: 200px;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__vxTjO {
    width: 300px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__vxTjO {
    justify-content: center;
    align-items: flex-start;
    max-width: 200px;
    width: 200px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.img {
  object-fit: contain;
  width: 120px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 568px) {
  .img {
    width: 80px;
    flex-shrink: 0;
  }
}
.link__w8Cli {
  position: relative;
  align-self: flex-start;
  display: flex;
  padding-right: 0px;
}
.button__lw2P5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bHHh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3CjS {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 568px) {
  .text___3CjS {
    font-size: 12px;
  }
}
.svg__wyY71 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link___75TH {
  position: relative;
  display: flex;
}
.loginButton2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 1s;
}
