.loginButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__lr592 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text {
  height: auto;
  color: #ff4844;
}
@media (min-width: 0px) and (max-width: 568px) {
  .text {
    font-size: 12px;
  }
}
.textloginButton2_loginButton {
  background: #ff4844;
  color: var(--token-jgohepLVeKvh);
}
.svg__yzZ1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
