.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 1200px);
  height: calc(100% + 1200px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 1200px;
}
@media (max-width: 1800px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1800px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 1200px);
    width: calc(100% + 1200px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1800px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 1200px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__fIvlw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 659px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 1800px) {
  .freeBox__fIvlw {
    padding-top: 0px;
    width: 498px;
    flex-shrink: 0;
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
@media (max-width: 1800px) {
  .cmsDataFetcher:global(.__wab_instance) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
  }
}
.freeBox__n7B7K {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__n7B7K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__n7B7K > :global(.__wab_flex-container) > *,
.freeBox__n7B7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n7B7K > :global(.__wab_flex-container) > picture > img,
.freeBox__n7B7K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 1800px) {
  .freeBox__n7B7K {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1800px) {
  .freeBox__n7B7K > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1800px) {
  .freeBox__n7B7K > :global(.__wab_flex-container) > *,
  .freeBox__n7B7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__n7B7K > :global(.__wab_flex-container) > picture > img,
  .freeBox__n7B7K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__n7B7K {
    padding: 8px 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__n7B7K > :global(.__wab_flex-container) {
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__n7B7K > :global(.__wab_flex-container) > *,
  .freeBox__n7B7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__n7B7K > :global(.__wab_flex-container) > picture > img,
  .freeBox__n7B7K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.freeBox__yfXrG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 1800px) {
  .freeBox__yfXrG {
    width: 200px;
    flex-shrink: 0;
  }
}
.cmsEntryField__yVcT:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-size: 28px;
  font-weight: 800;
}
@media (max-width: 1800px) {
  .cmsEntryField__yVcT:global(.__wab_instance) {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__yVcT:global(.__wab_instance) {
    font-size: 22px;
  }
}
.cmsEntryField__do5RN:global(.__wab_instance) {
  object-fit: fill;
  max-width: 50%;
  width: 45px;
  height: 45px;
  background: #000000;
  display: flex;
  align-self: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media (max-width: 1800px) {
  .cmsEntryField__do5RN:global(.__wab_instance) {
    background: #ffffff;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__do5RN:global(.__wab_instance) {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.freeBox__u5DiE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__x71A7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  min-width: 0;
}
.cmsEntryField__u9DB4:global(.__wab_instance) {
  object-fit: fill;
  max-width: 50%;
  width: 45px;
  height: 45px;
  background: #000000;
  display: flex;
  align-self: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media (max-width: 1800px) {
  .cmsEntryField__u9DB4:global(.__wab_instance) {
    background: #ffffff;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__u9DB4:global(.__wab_instance) {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.freeBox__eSdDu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 1800px) {
  .freeBox__eSdDu {
    width: 200px;
    flex-shrink: 0;
  }
}
.cmsEntryField__zyX1:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-size: 28px;
  font-weight: 800;
}
@media (max-width: 1800px) {
  .cmsEntryField__zyX1:global(.__wab_instance) {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__zyX1:global(.__wab_instance) {
    font-size: 22px;
  }
}
.text__qZ7Cv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bBpJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
