.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__fqj7O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.clubs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__kUxr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px;
}
.freeBox__ytdBu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  margin: 0px 30px;
}
.img__mTHw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 45px;
  flex-shrink: 0;
}
.img__mTHw > picture > img {
  object-fit: cover;
}
.text__mNzfB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LqtA0Zd3XkIQ);
  font-size: 18px;
  font-weight: 800;
  margin-left: 12px;
  align-self: center;
  min-width: 0;
  padding: 5px;
}
.freeBox___5LEsB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  margin: 0px 30px;
}
.text__gIiXv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  color: var(--token-LqtA0Zd3XkIQ);
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
  margin: 0px 5px 0px 0px;
}
.text__xnwae {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-size: 16px;
  color: var(--token-_Z-x7YSfdB4D);
}
.freeBox__s2PMp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  margin: 30px;
}
.text__pVvd5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 14px;
  color: var(--token-LqtA0Zd3XkIQ);
  margin-right: 5px;
  font-weight: 600;
  min-width: 0;
}
.text__rjWsK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  align-self: center;
  min-width: 0;
}
.freeBox__fvQdx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding: 8px;
  margin: 30px;
}
.text__nnE7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__gNto5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding: 8px 8px 8px 0px;
}
.img__fbCjm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__fbCjm > picture > img {
  object-fit: cover;
}
.text__jpMr7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 500;
  min-width: 0;
}
.text__jmBo6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f00909;
  font-size: 12px;
  font-weight: 500;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-DbGdjBpQ6R_X);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mqYQt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__h0JUm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-_Z-x7YSfdB4D);
  padding-bottom: 8px;
  font-weight: 700;
  min-width: 0;
}
.soccerPlaceMens2:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  height: 620px;
  left: 8px;
  top: 43px;
  z-index: 1;
  flex-shrink: 0;
}
.goa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__s2ORa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.link__cGxPy {
  position: relative;
  z-index: 3;
  display: flex;
}
.img__sxe2M {
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 110px;
  flex-shrink: 0;
  border-width: 3px;
  border-style: solid;
}
.img__sxe2M > picture > img {
  object-fit: cover;
}
.def {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  align-self: center;
  padding: 0px;
}
.freeBox__b6T8Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__hhs63 {
  position: relative;
  z-index: 3;
  align-self: center;
  display: flex;
  margin: 0px 15px;
}
.img__r0Q4F {
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 110px;
  flex-shrink: 0;
  border-width: 3px;
  border-style: solid;
}
.img__r0Q4F > picture > img {
  object-fit: cover;
}
.mid {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.link__wyJc4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  padding: 10px 0px 0px;
}
.img__gpqzU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 110px;
  z-index: 3;
  margin-right: 5px;
  margin-left: 0px;
  left: auto;
  top: auto;
  align-self: center;
  flex-shrink: 0;
  border-width: 3px;
  border-style: solid;
}
.img__gpqzU > picture > img {
  object-fit: cover;
}
.str {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 34px;
  margin-bottom: 71px;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox___5EMuE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__yuTxd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  z-index: 3;
  width: 89px;
  height: 110px;
  margin-right: 0px;
  margin-left: 10px;
  flex-shrink: 0;
  border-width: 3px;
  border-style: solid;
}
.img__yuTxd > picture > img {
  object-fit: cover;
}
.column__wlm0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 16px;
}
.freeBox__usU0P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__l3ZVp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-_Z-x7YSfdB4D);
  margin-top: 8px;
  min-width: 0;
}
.freeBox__ilRW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 0px;
  margin: 5px;
}
.text___7LwHj {
  position: relative;
  width: 120px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 900;
  margin-right: 8px;
  color: var(--token-_Z-x7YSfdB4D);
  text-align: center;
  flex-shrink: 0;
}
.img__sQzsp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 30px;
  flex-shrink: 0;
}
.img__sQzsp > picture > img {
  object-fit: cover;
}
.freeBox__j4PNe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__wgDbi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 7px;
  font-weight: 500;
}
.text___1EB {
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  margin-right: 8px;
  margin-left: 8px;
  font-weight: 900;
}
.freeBox___9ZxXp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img___2TD9Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 30px;
  flex-shrink: 0;
}
.img___2TD9Q > picture > img {
  object-fit: cover;
}
.text__bjRyz {
  position: relative;
  width: 120px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 900;
  padding-left: 8px;
  flex-shrink: 0;
}
.text__b9Hq8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-_Z-x7YSfdB4D);
  margin-bottom: 10px;
  min-width: 0;
}
.freeBox__inZ07 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 8px;
  min-width: 0;
  padding: 8px;
}
.text__wdvqd {
  position: relative;
  width: 120px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 900;
  color: var(--token-w7ybUCajlWG4);
  margin-right: 8px;
  text-align: center;
  flex-shrink: 0;
}
.img__eqrV9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 30px;
  flex-shrink: 0;
}
.img__eqrV9 > picture > img {
  object-fit: cover;
}
.freeBox__wiDx7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__z8WF2 {
  position: relative;
  width: 50px;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  color: var(--token-LqtA0Zd3XkIQ);
  text-align: center;
}
.freeBox___0UzpB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__tltYu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 30px;
  flex-shrink: 0;
}
.img__tltYu > picture > img {
  object-fit: cover;
}
.text__kuL0 {
  position: relative;
  width: 120px;
  height: auto;
  max-width: 100%;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 900;
  align-self: center;
  flex-shrink: 0;
}
.column__udFqK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
