.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1800px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 768px) {
  .root {
    justify-items: center;
    align-content: center;
  }
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__cstxG {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__cstxG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cstxG > :global(.__wab_flex-container) > *,
.freeBox__cstxG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cstxG > :global(.__wab_flex-container) > picture > img,
.freeBox__cstxG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__p3Od {
  position: relative;
  text-align: left;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 600;
}
.link__oBeLp {
  position: relative;
  text-align: center;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 500;
}
.freeBox__cynQa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__jGxnO {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 500;
  min-width: 0;
}
.text__mbNo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 900;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-jgohepLVeKvh);
}
.pcls_Ptl9_TeQa_Ax {
  background: var(--token-LqtA0Zd3XkIQ);
  outline: none;
}
.modal__modal :global(.ant-modal-close) {
  color: #e21c1c;
  background: #1a1717;
  outline: none;
}
.freeBox__spkbu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__ahFXh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-41VRhDKfihhY);
  background: none;
}
.text___8Tten {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: var(--token-w7ybUCajlWG4);
  background: none;
  min-width: 0;
}
.updateCapitan:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 32px;
  margin-left: 0px;
  background: var(--token-as44I7WwR-rZ);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 8px 270px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns {
    padding-left: 8px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wtIiA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  padding: 8px;
}
.text__aUurg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 700;
  min-width: 0;
}
._532:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  text-align: left;
  left: 38px;
  top: 39px;
  z-index: 5;
  color: var(--token-jgohepLVeKvh);
  background: none;
}
.menuItem__yHZg2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__n6PxQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__gb7Ov:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ioQc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jbZUg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dtZNz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__u1Zqe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__iw1Nk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6S8Gg {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 599px;
  height: 100%;
  max-width: 100%;
  z-index: 6;
  left: -3px;
  top: 34px;
  overflow: visible;
  min-height: 0;
  padding: 0px;
}
.freeBox___6S8Gg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___6S8Gg > :global(.__wab_flex-container) > *,
.freeBox___6S8Gg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6S8Gg > :global(.__wab_flex-container) > picture > img,
.freeBox___6S8Gg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.goa {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  left: 0px;
  top: -44px;
  min-width: 0;
  padding: 0px 0px 20px;
}
.freeBox__dcpmG {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
}
.avatarPlayer__uvTA:global(.__wab_instance) {
  max-width: 100%;
}
.def {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 57px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 8px 8px;
}
.def > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 35px);
  width: calc(100% + 35px);
}
.def > :global(.__wab_flex-container) > *,
.def > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.def > :global(.__wab_flex-container) > picture > img,
.def > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 35px;
}
.freeBox__vv8U {
  position: relative;
  display: flex;
}
.avatarPlayer__gYokA:global(.__wab_instance) {
  max-width: 100%;
  transform: none;
}
.mid {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(12px + 10px) !important;
  min-width: 0;
  padding: 8px;
}
.mid > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.mid > :global(.__wab_flex-container) > *,
.mid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mid > :global(.__wab_flex-container) > picture > img,
.mid > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 60px;
}
.freeBox__ofx2 {
  position: relative;
  display: flex;
}
.avatarPlayer__nu6Lx:global(.__wab_instance) {
  max-width: 100%;
}
.str {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(74px + 10px) !important;
  min-width: 0;
  padding: 8px;
}
.str > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.str > :global(.__wab_flex-container) > *,
.str > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.str > :global(.__wab_flex-container) > picture > img,
.str > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.freeBox__l1A6S {
  position: relative;
  display: flex;
}
.avatarPlayer__jttBq:global(.__wab_instance) {
  max-width: 100%;
}
.soccerPlaceMens2:global(.__wab_instance) {
  max-width: 100%;
  height: 717px;
  z-index: 1;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .soccerPlaceMens2:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.column__wTiGc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  padding: 8px;
}
.column__wTiGc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__wTiGc > :global(.__wab_flex-container) > *,
.column__wTiGc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wTiGc > :global(.__wab_flex-container) > picture > img,
.column__wTiGc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__peasw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-RZcyrn6MkYNW);
  min-width: 0;
  padding: 16px 8px;
}
.text__r9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: left;
  padding-left: 8px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___6HiPo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fjj5R {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  padding-right: 48px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__u55K7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-qXSDjipMXR1n);
  min-width: 0;
  padding: 8px;
}
.freeBox__u55K7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__u55K7 > :global(.__wab_flex-container) > *,
.freeBox__u55K7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u55K7 > :global(.__wab_flex-container) > picture > img,
.freeBox__u55K7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.link__tjnjF {
  position: relative;
  padding-left: 32px;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
}
.link__llnkR {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
}
.link__yKoXy {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
}
.link__urgD1 {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
}
.link__xEuMz {
  position: relative;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
}
.playerPickerRow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sideBarMyTeam:global(.__wab_instance) {
  position: absolute;
  top: 214px;
  left: -338px;
  z-index: 2;
  height: 627px;
  right: 1195px;
  margin: 0px;
}
@media (max-width: 1800px) {
  .sideBarMyTeam:global(.__wab_instance) {
    right: 1157px;
    left: -327px;
  }
}
@media (max-width: 768px) {
  .sideBarMyTeam:global(.__wab_instance) {
    display: none;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
