.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      var(--token-_Z-x7YSfdB4D),
      var(--token-_Z-x7YSfdB4D)
    ),
    #ffffff;
  justify-self: flex-start;
  cursor: pointer;
}
.linkToPlayerInfo {
  position: fixed;
  opacity: 1;
  margin-right: 0px;
  width: auto;
  left: auto;
  top: 8px;
  z-index: 4;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  height: auto;
  align-self: center;
  right: auto;
  bottom: 0px;
  box-shadow: none;
  cursor: pointer;
  mix-blend-mode: lighten;
  display: none;
  padding: 5px 15px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
