.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  grid-row-gap: 20px;
  backface-visibility: visible;
  transform-origin: 0% -4%;
  transform: perspective(0px);
  perspective: 210px;
  perspective-origin: 52% 76%;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
  padding: 0px 0px 5px;
}
.root > * {
  grid-column: 4;
}
.root * {
  transform-style: preserve-3d;
}
@media (max-width: 1800px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 1800px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1800px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 768px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 768px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    justify-items: center;
    align-content: center;
    grid-row-gap: 12px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  flex-grow: 0;
  left: 0px;
  top: 0px;
  z-index: 1000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1800px) {
  .navbar:global(.__wab_instance) {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.clubs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 813px;
}
.heroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  align-content: unset;
  background: var(--token-RZcyrn6MkYNW);
  margin-top: 0px;
  height: 519px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.searchComponent:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-right: 0px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  margin-top: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ubaBx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__smc8L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-qXSDjipMXR1n);
  font-size: 28px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__ipYwg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  border: 0.5px solid var(--token-LqtA0Zd3XkIQ);
}
.text__tYlG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text___8FaeX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.soccerPlaceMens:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 813px;
  flex-shrink: 0;
}
.freeBox__qLnOw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qLnOw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-oW80B2Q_Cufz));
  width: calc(100% + var(--token-oW80B2Q_Cufz));
}
.freeBox__qLnOw > :global(.__wab_flex-container) > *,
.freeBox__qLnOw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qLnOw > :global(.__wab_flex-container) > picture > img,
.freeBox__qLnOw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oW80B2Q_Cufz);
}
.link__lzWbv {
  position: relative;
  background: var(--token-w7ybUCajlWG4);
  color: var(--token-jgohepLVeKvh);
  padding: 4px 8px;
}
.link___72HwL {
  position: relative;
  background: var(--token-w7ybUCajlWG4);
  color: var(--token-jgohepLVeKvh);
  padding: 4px 8px;
}
.link__exs7U {
  position: relative;
  background: var(--token-w7ybUCajlWG4);
  color: var(--token-jgohepLVeKvh);
  padding: 4px 8px;
}
.column___7Ggbf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-RZcyrn6MkYNW);
  min-width: 0;
  padding: 8px;
}
.column___7Ggbf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column___7Ggbf > :global(.__wab_flex-container) > *,
.column___7Ggbf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___7Ggbf > :global(.__wab_flex-container) > picture > img,
.column___7Ggbf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__ru5GL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.messageCard__hDvns:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.messageCard___4RSaU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.messageCard___2ONt1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.messageCard__apEks:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.column__ljt9J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  padding: 8px;
}
.column__ljt9J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__ljt9J > :global(.__wab_flex-container) > *,
.column__ljt9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ljt9J > :global(.__wab_flex-container) > picture > img,
.column__ljt9J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qp8Lp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-qXSDjipMXR1n);
  min-width: 0;
}
.freeBox__nZk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
.freeBox__nZk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__nZk > :global(.__wab_flex-container) > *,
.freeBox__nZk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nZk > :global(.__wab_flex-container) > picture > img,
.freeBox__nZk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: calc(0px + 0px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.freeBox__olZs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hP66M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 700;
  padding-left: 0px;
  margin-left: calc(16px + 0px) !important;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___4FfY4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: calc(16px + 8px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox___4FfY4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox___4FfY4 > :global(.__wab_flex-container) > *,
.freeBox___4FfY4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4FfY4 > :global(.__wab_flex-container) > picture > img,
.freeBox___4FfY4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.select5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: calc(0px + 0px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.freeBox__bdilj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ahhtc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 700;
  padding-left: 0px;
  margin-left: calc(16px + 0px) !important;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.select6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
