.clubLogo {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
}
.clubLogo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.clubLogo > :global(.__wab_flex-container) > *,
.clubLogo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.clubLogo > :global(.__wab_flex-container) > picture > img,
.clubLogo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .clubLogo {
    width: 100%;
    justify-self: flex-start;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .clubLogo > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__pEqOv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pEqOv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__pEqOv > :global(.__wab_flex-container) > *,
.freeBox__pEqOv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pEqOv > :global(.__wab_flex-container) > picture > img,
.freeBox__pEqOv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__pEqOv {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__pEqOv > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-grow: 0;
  min-width: 0;
  column-gap: 0px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsDataFetcher:global(.__wab_instance) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    min-width: 0;
    row-gap: 0px;
  }
}
.freeBox__vn6Sn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__vn6Sn {
    width: auto;
  }
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.cmsEntryField:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  width: 60px;
  height: 60px;
  background: #000000;
  object-position: 50% 50%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField:global(.__wab_instance) {
    width: auto;
    object-fit: contain;
    height: 5vh;
    max-width: 200%;
  }
}
.text__x2IoE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bS86R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
