.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__fu39V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__fu39V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.freeBox__fu39V > :global(.__wab_flex-container) > *,
.freeBox__fu39V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fu39V > :global(.__wab_flex-container) > picture > img,
.freeBox__fu39V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.text__uwwQu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wy1P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ujZg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__krkds {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xmASc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fTub9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__u36KZ {
  padding-right: 0px;
}
.svg__t0NPw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ePKyb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__k1Z9V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link {
  position: relative;
  display: flex;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__urYn1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e12Ri {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.submitButtonnn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.submitButtonnnisSignUpFlow:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oZjc5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pkOg0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
