.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 8px;
}
.freeBox__aLJlu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__kzxqf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__fu39V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__fu39V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.freeBox__fu39V > :global(.__wab_flex-container) > *,
.freeBox__fu39V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fu39V > :global(.__wab_flex-container) > picture > img,
.freeBox__fu39V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.text__uwwQu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__wNrqB {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxisError__wNrqBy7MDj {
  display: flex;
}
.freeBox__souSm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__plQdr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wy1P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ujZg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__krkds {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xmASc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  display: none;
}
.svgisLoading {
  display: block;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-I70CVivPMy-a);
  font-size: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.submitButtonisLoading:global(.__wab_instance) {
  display: none;
}
.text__ftF {
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
.freeBox__ePKyb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__k1Z9V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.linkisSignUpFlow__k1Z9VpPyrn {
  display: none;
}
.text___3SMdV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__ezWnS {
  position: relative;
  display: flex;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dzSq6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e12Ri {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pkG1C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.text___4Rghs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__up1Xs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__up1Xs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__up1Xs > :global(.__wab_flex-container) > *,
.freeBox__up1Xs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__up1Xs > :global(.__wab_flex-container) > picture > img,
.freeBox__up1Xs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.link___9CPhk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
._switch:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__hfdz4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wlu9Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  margin-left: 12px;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: fill;
}
