.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.clubs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__d7DLf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("https://www.premierleague.com/resources/rebrand/v7.146.7/i/elements/backgrounds/primary-graphic.svg"),
    var(--token-RZcyrn6MkYNW);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-style: solid;
  border-color: var(--token-jgohepLVeKvh);
}
@media (max-width: 768px) {
  .freeBox__d7DLf {
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
.freeBox__ozsUl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 200px;
  padding: 8px 8px 8px 150px;
}
@media (max-width: 768px) {
  .freeBox__ozsUl {
    padding: 0px;
  }
}
.text__exH9R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2 {
  font-weight: 800;
  width: 100%;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .h2 {
    font-size: 32px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .h2 {
    font-size: 28px;
  }
}
.freeBox__zogXm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px 40px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__zogXm {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__jBkRj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mhHl5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.dropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
  background: #232433;
  color: var(--token-41VRhDKfihhY);
  font-size: 24px;
  height: auto;
}
.menuItem__nYeUa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hleuj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__ydmxl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mNu0T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  text-align: left;
}
.text__bvdsf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox___59N3 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox___59N3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 8px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox___59N3 {
    width: 430px;
  }
}
.freeBox__gkxea {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  padding: 8px;
}
.freeBox__lHn24 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  padding: 8px;
}
.cmsDataFetcher__uEcU0:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column-reverse;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__vn6UL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.freeBox__vn6UL > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__vn6UL > :global(.__wab_flex-container) > *,
.freeBox__vn6UL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vn6UL > :global(.__wab_flex-container) > picture > img,
.freeBox__vn6UL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.cmsEntryField__uG4Er:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.cmsEntryField___4Ln3V:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 700;
}
.text__aCut0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__w8Vo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___57Ug {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
  height: 575px;
  max-width: 100%;
  min-height: 400px;
  background: #ffffff;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox___57Ug {
    height: 600px;
  }
}
.freeBox__ljMH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 10px;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__otq1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__wvGuP {
  text-align: center;
}
.freeBox___8Z8An {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__sjG7A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__d265R {
  text-align: center;
}
.freeBox___8A2Wa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__tdBiZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__lukQ {
  text-align: center;
}
.freeBox__dc0Fd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__dvRxi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__n0KtX {
  text-align: center;
}
.freeBox__c6Jj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__knWyz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__gHnDp {
  text-align: center;
}
.freeBox__ttSj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text___0Y4Ws {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__k4Lf {
  text-align: center;
}
.freeBox__neRl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__rp8Lo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__r6L {
  text-align: center;
}
.freeBox__wTyl3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: #000000;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__jOj2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__ru0Vc {
  text-align: center;
}
.freeBox__zuziJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: #000000;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__vlPvP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__tLurD {
  text-align: center;
}
.freeBox__cg07S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: #000000;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__y3EwD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__zmDa9 {
  text-align: center;
}
.freeBox__bgttO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.cmsDataFetcher__dEjZ:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__fpZaw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.freeBox__fpZaw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__fpZaw > :global(.__wab_flex-container) > *,
.freeBox__fpZaw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fpZaw > :global(.__wab_flex-container) > picture > img,
.freeBox__fpZaw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.cmsEntryField__pOoa9:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 700;
}
.cmsEntryField__lvDxq:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__nykJx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mVst {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4KeTc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  padding: 8px;
}
.freeBox__sAzs0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  padding: 8px;
}
.cmsDataFetcher___5BzIq:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column-reverse;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox___6Aq6S {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.freeBox___6Aq6S > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___6Aq6S > :global(.__wab_flex-container) > *,
.freeBox___6Aq6S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Aq6S > :global(.__wab_flex-container) > picture > img,
.freeBox___6Aq6S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.cmsEntryField__yezF:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.cmsEntryField___8U0Zh:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
  font-weight: 700;
}
.text__kxvbu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7Bmfh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9YMh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
  height: 575px;
  max-width: 100%;
  min-height: 400px;
  background: #ffffff;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__n2Dsy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 10px;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__sfFuY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__hmYD {
  text-align: center;
}
.freeBox___6Pxl0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__tioBn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__bWys {
  text-align: center;
}
.freeBox__shzUa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__nnFc6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__tgEjc {
  text-align: center;
}
.freeBox__hSxa7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__qs0Di {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__dXz8 {
  text-align: center;
}
.freeBox___9DrQh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__y4CfJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5___0BPd9 {
  text-align: center;
}
.freeBox__rcFcn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text___6YTpT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5___2F1Qm {
  text-align: center;
}
.freeBox__hcwdm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: none;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__x8HDv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5___9RMk {
  text-align: center;
}
.freeBox__iVBc4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: #000000;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__je5RV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__mC30D {
  text-align: center;
}
.freeBox__my77Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: #000000;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__sN42B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5___7Xwee {
  text-align: center;
}
.freeBox__maOmM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  background: #000000;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__jcnQb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5___2YZ {
  text-align: center;
}
.freeBox___899II {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  padding: 8px;
}
.cmsDataFetcher__hVbUl:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__kULqm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.freeBox__kULqm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__kULqm > :global(.__wab_flex-container) > *,
.freeBox__kULqm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kULqm > :global(.__wab_flex-container) > picture > img,
.freeBox__kULqm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.cmsEntryField__tmsMa:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_Z-x7YSfdB4D);
}
.cmsEntryField__apNJf:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__vpfEb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__x6Hn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
