.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    width: auto;
    justify-self: flex-start;
    background: #222333;
    display: inline-flex;
  }
}
.freeBox__gTgK7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 650px;
  height: auto;
  max-width: 100%;
  background: var(--token-as44I7WwR-rZ);
  margin-right: 0px;
  padding: 0px;
}
.freeBox__gTgK7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__gTgK7 > :global(.__wab_flex-container) > *,
.freeBox__gTgK7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gTgK7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gTgK7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__gTgK7 {
    background: #222333;
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__pIjXu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 700px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__pIjXu {
    background: #222333;
  }
}
.freeBox__jH8Bh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__jH8Bh {
    margin-right: 20px;
  }
}
.cmsEntryField__bfSqs:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__bfSqs:global(.__wab_instance) {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
}
.freeBox__eKUgW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px 120px 8px 0px;
}
.cmsEntryField___68ECd:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-size: 23px;
  font-weight: 700;
  color: var(--token-_Z-x7YSfdB4D);
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField___68ECd:global(.__wab_instance) {
    font-size: 18px;
  }
}
.cmsEntryField__ujBjG:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-size: 22px;
  font-weight: 400;
  color: var(--token-_Z-x7YSfdB4D);
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__ujBjG:global(.__wab_instance) {
    font-size: 16px;
  }
}
.cmsEntryField__deoZj:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: var(--token-_Z-x7YSfdB4D);
  flex-shrink: 0;
  border-radius: 50%;
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__deoZj:global(.__wab_instance) {
    font-size: 18px;
  }
}
.cmsEntryField__e5WZs:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  padding-top: 10px;
  color: var(--token-_Z-x7YSfdB4D);
  flex-shrink: 0;
  border-radius: 50%;
}
@media (min-width: 0px) and (max-width: 568px) {
  .cmsEntryField__e5WZs:global(.__wab_instance) {
    font-size: 18px;
  }
}
.text__jUo0Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___2LevP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
