.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      var(--token-_Z-x7YSfdB4D),
      var(--token-_Z-x7YSfdB4D)
    ),
    #ffffff;
  justify-self: flex-start;
  cursor: pointer;
}
.freeBox__xd44L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #232433;
  left: auto;
  top: auto;
  z-index: 1;
  order: 1;
  min-width: 0;
  padding: 8px;
}
.freeBox__lCzs2 {
  display: flex;
  position: relative;
  width: 112px;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-_Z-x7YSfdB4D);
  flex-shrink: 0;
  padding: 0px;
}
.img___9Qb9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 104px;
  height: 112px;
  flex-shrink: 0;
}
.img___9Qb9 > picture > img {
  object-fit: cover;
}
.img__sZ9LF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  margin-left: -30px;
  width: 28px;
  height: 28px;
  margin-top: 14px;
  flex-shrink: 0;
}
.img__sZ9LF > picture > img {
  object-fit: cover;
}
.freeBox__z6CCz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #232433;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 0;
  padding: 8px;
}
.freeBox__bXyWd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link___0SQvQ {
  position: relative;
  font-size: 10px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  background: var(--token-cUFdHn84JYWq);
  padding: 4px 5px;
}
.linkmendez___0SQvQj9I92 {
  background: #2f46a5;
}
.text__i1Dba {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.freeBox__vyio0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ujWbH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__naf6R {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___9Wjcv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #232433;
  min-width: 0;
  padding: 8px;
}
.freeBox___27Ek1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__e8O2B {
  position: relative;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 700;
  background: #3edc26;
  padding: 1px 3px 5px 4px;
}
.linkborjaMayoral__e8O2BwU1Ba {
  background: #dd0f0f;
}
.text___86Ym {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  min-width: 0;
  margin: 0px 0px 4px;
}
.text__xdV1H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #118808;
  min-width: 0;
}
.linkToPlayerInfo {
  position: fixed;
  opacity: 1;
  margin-right: 0px;
  width: auto;
  left: auto;
  top: 8px;
  z-index: 4;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  height: auto;
  align-self: center;
  right: auto;
  bottom: 0px;
  box-shadow: none;
  cursor: pointer;
  mix-blend-mode: lighten;
  display: none;
  padding: 5px 15px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
