.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 376px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_Z-x7YSfdB4D);
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__obW9Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__l5I8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.column__rNyhw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cfhie {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.textgoals__cfhie8NjSt {
  text-align: center;
}
.textgoalAssists__cfhieIyDt0 {
  text-align: center;
}
.textbigChanceCreated__cfhiek6Jyw {
  text-align: center;
}
.textballsIntoTheBox__cfhieZ8X7C {
  text-align: center;
}
.textpenaltiesWon__cfhieLyJaq {
  text-align: center;
}
.textpenaltiesSaved__cfhienqfrj {
  text-align: center;
}
.textsaves__cfhieKkoz {
  text-align: center;
}
.texteffectiveClearanes__cfhieLr2Zj {
  text-align: center;
}
.textpenaltiesMissed__cfhiefP1AU {
  text-align: center;
}
.textownGoals__cfhie3Y46G {
  text-align: center;
}
.textgoalsAgainst__cfhieRcWi9 {
  text-align: center;
}
.textyellowCard__cfhiejBapj {
  text-align: center;
}
.textsecondaryYellowCard__cfhieR2E1K {
  text-align: center;
}
.textredCard__cfhie29FIp {
  text-align: center;
}
.textgoalAttempts__cfhieoQjui {
  text-align: center;
}
.texteffectiveDribbles__cfhieKHz8U {
  text-align: center;
}
.textrecoviries__cfhieW45U {
  text-align: center;
}
.textlostBalls__cfhieCks9 {
  text-align: center;
}
.textcommitedPenalties__cfhiegnPYr {
  text-align: center;
}
.column__zxClc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__nWxUy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
