.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1440px;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  background: var(--token-RZcyrn6MkYNW);
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: url("https://www.premierleague.com/resources/rebrand/v7.146.7/i/elements/backgrounds/primary-graphic.svg");
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gXMvq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__j1Kkd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  margin-left: 48px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__rqyxd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-left: 48px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.column__tr8D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___1Whms {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__t0Kup {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  margin-left: 25px;
  padding: 8px;
}
.text__eMd0E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: var(--token-jgohepLVeKvh);
}
.text__w7ZfB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-jgohepLVeKvh);
}
.text__yoV8W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: var(--token-jgohepLVeKvh);
}
