.rankings {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.rankings > * {
  grid-column: 4;
}
@media (max-width: 1800px) {
  .rankings > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .rankings > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.clubs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__e476J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text__htPSt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("https://www.premierleague.com/resources/rebrand/v7.146.7/i/elements/backgrounds/primary-graphic.svg")
      top 50% left 50% / cover repeat,
    var(--token-RZcyrn6MkYNW);
  min-width: 0;
}
.h1 {
  padding-left: 270px;
  margin-bottom: 60px;
  font-size: 48px;
  padding-bottom: 0px;
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .h1 {
    font-size: 32px;
    padding: 0px;
  }
}
.freeBox__jh2Co {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 1800px) {
  .freeBox__jh2Co {
    padding-left: 45px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__jh2Co {
    padding: 0px;
  }
}
.freeBox__oalHf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  padding: 8px 8px 8px 260px;
  margin: 0px;
}
.freeBox__oalHf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__oalHf > :global(.__wab_flex-container) > *,
.freeBox__oalHf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oalHf > :global(.__wab_flex-container) > picture > img,
.freeBox__oalHf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__oalHf {
    padding: 0px;
    margin: 0px;
  }
}
.dropdown__wmUu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-RZcyrn6MkYNW);
}
.menuItem__qcGGu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vg5Qy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__zrszr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bjkdi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__ooD5O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hA4Z4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h6__pYf2U {
  height: auto;
}
.dropdown__hlbAo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-RZcyrn6MkYNW);
}
.menuItem__p2Fw7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9VADg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__qabB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__t13Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jkbh0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jJlD8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdown__m4U3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-RZcyrn6MkYNW);
}
.menuItem__ctd9N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iBkGc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__iD75E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eynZd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__a8Cpq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___2NKdQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ljWy0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 1200px;
  height: auto;
  max-width: 100%;
  margin-left: 200px;
  margin-right: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__ljWy0 {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}
.freeBox__uBeSi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px;
}
.freeBox__uBeSi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__uBeSi > :global(.__wab_flex-container) > *,
.freeBox__uBeSi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uBeSi > :global(.__wab_flex-container) > picture > img,
.freeBox__uBeSi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__ntBlh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-RZcyrn6MkYNW);
  min-width: 0;
  padding: 8px;
  border: 1px solid #363639;
}
.text__dM6Zf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4 {
  text-align: left;
  padding-left: 20px;
  font-size: 28px;
  background: none;
}
.rankings2:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.freeBox__jsIt9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__ley1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: auto;
  max-width: 100%;
  background: url("https://fplchallenge.premierleague.com/assets/pattern-1-874-c6ac9b8f.png")
      top 50% left 50% / cover repeat,
    var(--token-RZcyrn6MkYNW);
  flex-shrink: 0;
  padding: 8px;
  border: 1px solid #363639;
}
.text__fjQoz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5 {
  color: var(--token-jgohepLVeKvh);
  border: 1px solid var(--token-jgohepLVeKvh);
}
.freeBox__l0GPz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
