.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--token-_Z-x7YSfdB4D);
  min-width: 0;
  padding: 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.rootisSignUpFlow {
  height: 710px;
  margin-top: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__duSbx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 385px;
  height: 52px;
  max-width: 100%;
  background: var(--token-aoepsJy6J4Tf);
  margin-top: calc(14px + 16px) !important;
  flex-shrink: 0;
  padding: 8px;
}
.img___5BNlF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  flex-shrink: 0;
}
.img___5BNlF > picture > img {
  object-fit: cover;
}
.freeBox__zRqba {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__krN2F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 60px 14px 60px 25px;
}
.freeBox__tDkB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 385px;
  height: 52px;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: calc(14px + 16px) !important;
  flex-shrink: 0;
  padding: 8px;
}
.img___4DLgk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  flex-shrink: 0;
}
.img___4DLgk > picture > img {
  object-fit: cover;
}
.text__dlLs4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-w7ybUCajlWG4);
  min-width: 0;
  padding: 60px 14px 60px 25px;
}
.freeBox__wURbR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 385px;
  height: 52px;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: calc(14px + 16px) !important;
  flex-shrink: 0;
  padding: 0px;
}
.img__seMwZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
  margin: 0px;
}
.img__seMwZ > picture > img {
  object-fit: cover;
}
.text___4Cpr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-w7ybUCajlWG4);
  position: relative;
  min-width: 0;
  padding: 60px 14px 60px 10px;
}
.freeBox___54Ebk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 480px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___54Ebk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___54Ebk > :global(.__wab_flex-container) > *,
.freeBox___54Ebk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___54Ebk > :global(.__wab_flex-container) > picture > img,
.freeBox___54Ebk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zcVxu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uAJvm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mbfwC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yBFh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b5DhC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oPJc4 {
  font-size: 18px;
}
.svg__kVyOz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__i3Zt8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__j35Sk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link {
  position: relative;
  display: flex;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9Pvx3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xOdBi {
  padding-right: 0px;
}
.svg___9An0S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
