.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-aoepsJy6J4Tf);
  padding-bottom: 250px;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .root {
    justify-items: center;
    align-content: center;
    padding-bottom: 553px;
  }
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___0Z5Hv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0Z5Hv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___0Z5Hv > :global(.__wab_flex-container) > *,
.freeBox___0Z5Hv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Z5Hv > :global(.__wab_flex-container) > picture > img,
.freeBox___0Z5Hv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__zKXtP {
  position: relative;
  text-align: left;
  color: var(--token-jgohepLVeKvh);
}
.link__fbk5W {
  position: relative;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 32px;
  margin-left: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 8px 260px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns {
    padding-left: 8px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__xnBrl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xnBrl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (max-width: 768px) {
  .freeBox__xnBrl {
    display: flex;
    flex-direction: column;
    z-index: 3;
  }
}
@media (max-width: 768px) {
  .freeBox__xnBrl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 768px) {
  .freeBox__xnBrl > :global(.__wab_flex-container) > *,
  .freeBox__xnBrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xnBrl > :global(.__wab_flex-container) > picture > img,
  .freeBox__xnBrl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 230px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    width: 155px;
  }
}
.svg__nqLc6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eosSt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__ehfxY {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  margin-left: 10px;
  padding: 8px 32px;
  border: 0.5px solid #514e4e;
}
@media (max-width: 768px) {
  .link__ehfxY {
    margin-left: calc(10px + 0px) !important;
  }
}
.clubSelect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .clubSelect:global(.__wab_instance) {
    margin-left: calc(10px + 0px) !important;
  }
}
.text__xuFjc {
  color: var(--token-jgohepLVeKvh);
}
.type:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .type:global(.__wab_instance) {
    margin-left: calc(10px + 0px) !important;
  }
}
.text__wrDpJ {
  color: var(--token-jgohepLVeKvh);
}
.playerCount:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
  flex-shrink: 1;
}
@media (max-width: 768px) {
  .playerCount:global(.__wab_instance) {
    margin-left: calc(-50px + 0px) !important;
    display: none;
  }
}
.playerAction:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  margin-left: 0px;
  left: 755px;
  top: 275px;
  z-index: 1;
}
@media (max-width: 768px) {
  .playerAction:global(.__wab_instance) {
    margin-left: 0px;
    display: none;
  }
}
.freeBox___7InD5 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -84px;
  top: 315px;
  background: var(--token-_Z-x7YSfdB4D);
  justify-self: flex-start;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox___7InD5 {
    margin-top: 250px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
}
.playerPickerRow:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  margin-bottom: 3px;
}
.freeBox__iak4F {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 262.3px;
  height: auto;
  max-width: 100%;
  left: -336px;
  top: 120px;
  z-index: 2;
  justify-self: flex-start;
  margin-top: 195px;
  margin-bottom: 0px;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__iak4F {
    display: none;
  }
}
.freeBox__qGo61 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.img__kETft {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kETft > picture > img {
  object-fit: cover;
}
.text__vyXe5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.freeBox__cro6A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 32px;
  min-width: 0;
  padding: 8px;
}
.img__zFYu5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zFYu5 > picture > img {
  object-fit: cover;
}
.text__nf8XB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__vrUkZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 32px;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.img__rlilw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rlilw > picture > img {
  object-fit: cover;
}
.text___6XGh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox___7Axf0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 32px;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.img__z7Jol {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__z7Jol > picture > img {
  object-fit: cover;
}
.text__u7Gmh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__poBoI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 32px;
  min-width: 0;
  padding: 8px;
}
.img__jLqcj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jLqcj > picture > img {
  object-fit: cover;
}
.text__ouyCb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__pJRw8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 150px;
  background: #292a34;
  min-width: 0;
  padding: 8px;
}
.text__uw3Fv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Crw2fR4OvTKi);
  font-size: 10px;
  padding-top: 16px;
  min-width: 0;
}
.text__csf4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  padding-top: 8px;
  min-width: 0;
}
