.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-LqtA0Zd3XkIQ);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__xdMCu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 8px;
}
.img___0OoC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 329px;
}
.img___0OoC > picture > img {
  object-fit: cover;
}
.chart:global(.__wab_instance) {
  width: 699px;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 442px;
  top: 378px;
}
.freeBox___0CmUs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 344px;
  height: auto;
  max-width: 100%;
  background: #232433;
  justify-self: flex-start;
  padding: 8px;
}
.freeBox__tnxJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qzn9Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wYltr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Crw2fR4OvTKi);
  min-width: 0;
}
.text__tXebw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yfCB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  width: auto;
  background: #c3cd34;
  padding: 5px 4px;
}
.text__fiSj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
}
.text___1J5Jj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__fbX8B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vLuJj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__j08Jk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vuD6M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__cgS9C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cgS9C > picture > img {
  object-fit: cover;
}
.text__ru4Cf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text___1N3Wx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 22px;
  font-weight: 700;
  min-width: 0;
}
