.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.clubs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__uhOzD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 55px;
  background: var(--token-DbGdjBpQ6R_X);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__uhOzD {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__xC2PH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  padding: 8px;
}
.freeBox__xdMCu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.img___0OoC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 329px;
}
.img___0OoC > picture > img {
  object-fit: cover;
}
.freeBox___0CmUs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 344px;
  height: auto;
  max-width: 100%;
  background: url("https://fplchallenge.premierleague.com/assets/pattern-1-874-c6ac9b8f.png"),
    var(--token-RZcyrn6MkYNW);
  padding: 8px;
}
.freeBox__tnxJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qzn9Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wYltr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__wYltr {
    font-size: 12px;
  }
}
.text__tXebw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tXebw {
    font-size: 12px;
  }
}
.freeBox__yfCB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  width: auto;
  background: #c3cd34;
  padding: 5px 4px;
}
@media (max-width: 768px) {
  .link {
    padding: 3px 2px;
  }
}
.text__fiSj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .text__fiSj {
    font-size: 14px;
  }
}
.text___1J5Jj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___1J5Jj {
    font-size: 16px;
  }
}
.freeBox__fbX8B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vLuJj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__vLuJj {
    font-size: 12px;
  }
}
.text__j08Jk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__j08Jk {
    font-size: 12px;
  }
}
.freeBox__vuD6M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 0.5px solid var(--token-jgohepLVeKvh);
}
.img__cgS9C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  margin-top: 0px;
  flex-shrink: 0;
}
.img__cgS9C > picture > img {
  object-fit: cover;
}
.text__ru4Cf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ru4Cf {
    font-size: 12px;
  }
}
.text___1N3Wx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 22px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___1N3Wx {
    font-size: 16px;
  }
}
.chart:global(.__wab_instance) {
  width: 619px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  height: 327px;
  background: var(--token-jgohepLVeKvh);
  flex-shrink: 0;
  margin: 15px;
}
@media (max-width: 768px) {
  .chart:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
