.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_Z-x7YSfdB4D);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1800px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: 805px;
}
@media (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
  }
}
.freeBox__vgyTw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #000000;
  justify-self: flex-start;
  padding: 8px;
}
.clubs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__peOQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  text-align: left;
  color: var(--token-jgohepLVeKvh);
  font-size: 22px;
  font-weight: 700;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: stretch;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jVZpO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__uEuJs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.link__jFrqQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #232433;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__etFpR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 112px;
  height: auto;
  max-width: 100%;
  background: var(--token-_Z-x7YSfdB4D);
  flex-shrink: 0;
  padding: 8px;
}
.img__pt7R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pt7R > picture > img {
  object-fit: cover;
}
.freeBox___1YFnA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gFyJp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__miyxm {
  position: relative;
  font-weight: 700;
  font-size: 10px;
  color: var(--token-jgohepLVeKvh);
  background: var(--token-cUFdHn84JYWq);
  text-align: left;
  align-self: center;
  padding: 4px 5px;
}
.text__rmnIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.freeBox__iq9Oa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__bisx1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 12px;
  min-width: 0;
}
.freeBox__ft6Zx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xIu3E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__raRNm {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: #3edc26;
  padding: 1px 3px 5px 4px;
}
.text___0L1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  min-width: 0;
  padding: 0px 0px 4px;
}
.text__gk9Ze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #118808;
  font-weight: 700;
  min-width: 0;
}
.column__exdnn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fkZm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.link__bqBjg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-_Z-x7YSfdB4D);
  min-width: 0;
  padding: 8px;
}
.freeBox__xSl54 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #232433;
  min-width: 0;
  padding: 8px;
}
.freeBox__mfeIx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 112px;
  height: auto;
  max-width: 100%;
  background: var(--token-_Z-x7YSfdB4D);
  flex-shrink: 0;
  padding: 8px;
}
.img__dn7ZE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__dn7ZE > picture > img {
  object-fit: cover;
}
.freeBox__usVrX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lwf58 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__nmyw7 {
  position: relative;
  font-weight: 700;
  font-size: 10px;
  color: var(--token-jgohepLVeKvh);
  background: var(--token-cUFdHn84JYWq);
  text-align: left;
  align-self: flex-start;
  padding: 4px 5px;
}
.text___1Rl22 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.freeBox__fMws {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__rhSda {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 12px;
  min-width: 0;
}
.freeBox__rdGq4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lgo8P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link___3X3Tb {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: #3edc26;
  padding: 1px 3px 5px 4px;
}
.text__yNbnj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  min-width: 0;
  padding: 0px 0px 4px;
}
.text__h8Eq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #118808;
  font-weight: 700;
  min-width: 0;
}
.freeBox__xk7BC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #232433;
  min-width: 0;
  padding: 8px;
}
.img__kOkQo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kOkQo > picture > img {
  object-fit: cover;
}
.freeBox__vAvM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.link__pKRx3 {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  background: var(--token-cUFdHn84JYWq);
  padding: 5px 10px;
}
.text___2Mju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.text__v4LFv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__u5Rv3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  padding-top: 8px;
  min-width: 0;
}
.freeBox__hv6Sr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__w0Wrt {
  position: relative;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  background: var(--token-6u49iN2cxqzs);
  padding: 1px 3px 5px 4px;
}
.text__wkqI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 12px;
  text-align: right;
  min-width: 0;
}
.text__gdgLe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-I70CVivPMy-a);
  font-size: 16px;
  padding-top: 8px;
  text-align: right;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
