.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-qXSDjipMXR1n);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    height: auto;
  }
}
.freeBox__wBOxA {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  background: var(--token-qXSDjipMXR1n);
  min-width: 0;
  padding: 16px;
}
.freeBox__wBOxA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wBOxA > :global(.__wab_flex-container) > *,
.freeBox__wBOxA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wBOxA > :global(.__wab_flex-container) > picture > img,
.freeBox__wBOxA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .freeBox__wBOxA {
    padding: 8px;
  }
}
@media (max-width: 768px) {
  .freeBox__wBOxA > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__wBOxA {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__wBOxA > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 50px);
    width: calc(100% + 50px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__wBOxA > :global(.__wab_flex-container) > *,
  .freeBox__wBOxA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wBOxA > :global(.__wab_flex-container) > picture > img,
  .freeBox__wBOxA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 50px;
    margin-top: 0px;
  }
}
.freeBox__v7Nb6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1600px;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__v7Nb6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__v7Nb6 > :global(.__wab_flex-container) > *,
.freeBox__v7Nb6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v7Nb6 > :global(.__wab_flex-container) > picture > img,
.freeBox__v7Nb6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1800px) {
  .freeBox__v7Nb6 {
    width: 1100px;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__v7Nb6 {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__v7Nb6 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 768px) {
  .freeBox__v7Nb6 > :global(.__wab_flex-container) > *,
  .freeBox__v7Nb6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v7Nb6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__v7Nb6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__v7Nb6 {
    display: flex;
    flex-direction: row;
    width: 100px;
    max-width: 200px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__v7Nb6 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__v7Nb6 > :global(.__wab_flex-container) > *,
  .freeBox__v7Nb6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v7Nb6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__v7Nb6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.link___437 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img__lIcCf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__lIcCf > picture > img {
  object-fit: cover;
}
.freeBox__knWM {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1000px;
  padding-right: 0px;
  margin-right: 0px;
  background: none;
  flex-shrink: 0;
}
.freeBox__knWM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__knWM > :global(.__wab_flex-container) > *,
.freeBox__knWM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knWM > :global(.__wab_flex-container) > picture > img,
.freeBox__knWM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (max-width: 768px) {
  .freeBox__knWM {
    width: 200px;
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__knWM {
    width: 200px;
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__knWM > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__knWM > :global(.__wab_flex-container) > *,
  .freeBox__knWM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__knWM > :global(.__wab_flex-container) > picture > img,
  .freeBox__knWM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__tBrws {
  position: relative;
  align-self: flex-start;
  display: flex;
  padding-right: 0px;
}
.button__kn5Ja:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__kn5Ja:global(.__wab_instance) {
    display: none;
  }
}
.svg___2GcuQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3XipP {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___5UeOl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__co02 {
  position: relative;
  align-self: flex-start;
  display: flex;
  padding-right: 0px;
}
.button__clcQd:global(.__wab_instance) {
  max-width: 100%;
}
.svg__a1CRl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3Ku1W {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__f7R81 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__yerj {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.button__yNgNa:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__yNgNa:global(.__wab_instance) {
    display: none;
  }
}
.svg__iJjC3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wgvuv {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___2P8I3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__hn4Cc {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.button__z9KmJ:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 768px) {
  .button__z9KmJ:global(.__wab_instance) {
    display: none;
  }
}
.svg__vq809 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__q7ZZn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___1T0Vi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7Kayg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__uinzy {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__wljwG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__vFNx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ynmSw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jJjj5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gzjVv {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 500px;
  width: auto;
  margin-right: 0px;
  padding: 8px;
}
.freeBox__gzjVv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__gzjVv > :global(.__wab_flex-container) > *,
.freeBox__gzjVv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gzjVv > :global(.__wab_flex-container) > picture > img,
.freeBox__gzjVv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (max-width: 1800px) {
  .freeBox__gzjVv {
    width: 200px;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__gzjVv {
    width: 300px;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .freeBox__gzjVv > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__gzjVv {
    max-width: 200px;
    width: 200px;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox__gzjVv > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
.img__gMEj {
  object-fit: contain;
  width: 120px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img__gMEj > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 568px) {
  .img__gMEj {
    width: 80px;
    flex-shrink: 0;
  }
}
.link__rRs07 {
  position: relative;
  align-self: flex-start;
  display: flex;
  padding-right: 0px;
}
.button__v2XbC:global(.__wab_instance) {
  max-width: 100%;
}
.svg___362DY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pUjUj {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 568px) {
  .text__pUjUj {
    font-size: 12px;
  }
}
.svg__mlgQk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__dsqgG {
  position: relative;
  display: flex;
}
.loginButton2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  display: none;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 1s;
}
.text___2EcMv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 23px;
  font-family: "Inter Tight", sans-serif;
  text-align: right;
  padding-right: 10px;
  font-weight: 600;
}
